body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 4250;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.code {
  font-family: 'Consolas', 'Courier New', monospace; /* Monospaced font for better readability */
  font-size: 16px; /* Increased font size for better visibility */
  text-align: left; /* Ensures text within the code block is left-aligned */
  background-color: #f4f4f4; /* Light grey background */
  border-left: 3px solid #000000; /* Black left border for emphasis */
  overflow: auto; /* Adds horizontal scrolling if code is too long */
  white-space: pre; /* Maintains spacing and line breaks as in the source */
  line-height: 1.5; /* Line spacing */
  padding: 10px; /* Padding around the text for better presentation */
  padding-left: 5px; /* Reduced left padding */
  margin: 10px 0; /* Vertical spacing before and after the code block */
}

.project-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; /* Allows tags to wrap if they exceed the width of the container */
  gap: 8px; /* Adds space between the tags */
}

.tag {
  display: inline-block;
  background-color: #e0e0e0; /* Light gray background for neutral look */
  color: #333; /* Dark gray text */
  padding: 5px 10px;
  border-radius: 20px; /* Rounded corners */
  font-size: 12px;
  font-weight: 600; /* Bold text for better readability */
  margin: 2px; /* Ensure minimal space around tags */
}

/* Pastel colors for specific tags */
.tag.python { background-color: #a8d5ba; color: #333; }
.tag.rag { background-color: #f9ccac; color: #333; }
.tag.gpt { background-color: #a3c4f3; color: #333; }
.tag.fine-tuning { background-color: #c5a3f3; color: #333; }
.tag.selenium { background-color: #d3a68a; color: #333; }
.tag.chromeDriver { background-color: #88c9b8; color: #333; }
.tag.scikit-learn { background-color: #f7a6a6; color: #333; }
.tag.seaborn { background-color: #a6d3f7; color: #333; }
.tag.pandas { background-color: #f9e4a6; color: #333; }
.tag.numpy { background-color: #c7a6f7; color: #333; }
.tag.mysql { background-color: #d3a68a; color: #333; }
.tag.inprogress { background-color: #e35858; color: #333; }

